<div class="card">
  <img class="card-img-top" [src]="book.book_image" alt="Card image cap" />

  <div class="card-body">
    <h5 class="card-title text-green">{{ book.title }}</h5>
    <p class="card-text">{{ book.description }}</p>
    <p class="card-text">Author : {{ book.author }}</p>
    <p class="card-text">Publisher : {{ book.publisher }}</p>
    <p class="card-text">Pirce : {{ book.price }}</p>

    <app-button
      [class]="'btn btn-green'"
      [disabled]="false"
      (click)="clickedDetails(book)"
    >
      See Details
    </app-button>
  </div>
</div>
