.signup-link {
  color: #0ea5e9;
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .login-container {
    margin: 4rem;
    background: rgba(220, 243, 234, 0.5);
    border-radius: 10px;
  }
}

@media screen and (max-width: 420px) {
  .login-container {
    margin: 5rem 1rem 1rem 1rem;
    background: rgba(220, 243, 234, 1);
    border-radius: 10px;
    border: 1px solid #adccc0;
  }
}
