<h1 class="py-4 text-yellow category-detail-text">
  {{ categoryDetail.display_name }}
</h1>
<p class="category-detail-text">Updated : {{ categoryDetail.updated }}</p>
<p class="category-detail-text">
  Bestsellers date : {{ categoryDetail.bestsellers_date }}
</p>
<p class="category-detail-text">
  Next published date : {{ categoryDetail.next_published_date }}
</p>
<p class="category-detail-text">
  Previous published date : {{ categoryDetail.previous_published_date }}
</p>
<p class="category-detail-text">
  Book counts : {{ categoryDetail.normal_list_ends_at }}
</p>
